<%- include('./partials/header.ejs') %>

    <div class="container">
        <h2 class="mb-4">About</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lacinia quis vel eros donec ac odio tempor orci. Mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Facilisis volutpat est velit egestas dui id ornare. Commodo odio aenean sed adipiscing diam donec adipiscing tristique. Consequat nisl vel pretium lectus quam id leo in vitae. Egestas purus viverra accumsan in nisl nisi scelerisque eu ultrices. Rutrum quisque non tellus orci ac auctor augue. Senectus et netus et malesuada fames ac turpis egestas. Aliquam nulla facilisi cras fermentum odio eu feugiat pretium nibh. Laoreet suspendisse interdum consectetur libero id faucibus. Quisque sagittis purus sit amet volutpat.</p>
    </div>

<%- include('./partials/footer.ejs') %>